<% if current_user.nil? %>
  <div class="hero-header">
    <div class="main-text">Pair BnB</div>
    <div class="sub-text">A place to find your next home</div>
  </div>
<% end %>

  <br><br>

  <%= will_paginate @listings, class: "digg_pagination" %>
    <br>
    <br>
  <%= render @listings %>
  <%= will_paginate @listings, class: "digg_pagination"  %>