<h3>Booking Confirmation</h3>
<p>Your booking is confirmed for
  <%= @listing.name %>:
  <%= @reservation.start_time.strftime('%e %b %Y') %>
  until
  <%= @reservation.end_time.strftime('%e %b %Y') %>
