

<%= form_tag(listing_reservation_transactions_path, method: "post", multipart: true, id: "checkout")do  %>
	 <div id="payment-form"></div>
	 <%= submit_tag 'Submit' %>
<% end %>
<!-- 
form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form") -->
<script>

braintree.setup(gon.client_token, "dropin", {
  container: "payment-form"
});

</script>

