<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input type="submit" value="Pay $10">
</form>

<script>

braintree.setup(gon.client_token, "dropin", {
  container: "payment-form"
});

</script>